*{
    font-family:"Montserrat",sans-serif;
    display: center;
    justify-content:center;
}

.pagina  {
    width:198mm;
    min-height:286mm;
    background:#fff;
    border:2px solid #d3cf04;
    font-size: 15px;
}

.cabecalho {
    padding: 20px;
    width: 100%;
}

#logo{
    padding: 10px;
    display: block;
    font: "Montserrat", sans-serif;
    border-radius: 5px;
    cursor: pointer;
}

.formatos{
    margin-bottom: 20px;
    font-size: 8px;
}

.dados_empresa{
    padding-top: 10px;
    font-size: 12px;
}

#nome_empresa{
    box-shadow: 1px 1px 3px #d46b6b;
    border-radius: 6px;
    border: none;
}

#cnpj{
    box-shadow: 1px 1px 3px #d46b6b;
    border-radius: 6px;
    border: none;
}

.contatos{
    font-size: 12px;
    box-shadow: 1px 1px 3px #d46b6b;
    border-radius: 6px;
    border: none;
    padding-bottom: 20px;
}


.conteudo{
    padding-top: 5px;
}

.title {
    text-align: center;
    font-size: 43px;
}

.dados_cliente {
    font-size: 12px;
    display: flex;
}
.campo_cliente{
    box-shadow: 1px 1px 3px #d46b6b;
}
.quantidade_orc{
    padding-left: 2%;
    box-shadow: 1px 1px 3px #d46b6b;
}
.data_orc{
    padding-left: 2%;
    box-shadow: 1px 1px 3px #d46b6b;
}



.tabela-orc{
    font-size: 14px;
    padding-top: 2%;
    margin-bottom: 3%;
}

.adicionar_servico{
    font-size: 16px;
    padding-top: 10%;
    color: #ffffff;
    box-shadow: 0 1px 3px  #f3c704;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.remover_servico{
    font-size: 16px;
    padding-left: 10%;
    color: #ffffff;
    box-shadow: 0 1px 3px  #f52929;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


#gerar-orcamento{
    box-shadow: 0 1px 3px  #d46b6b;
    border-radius: 5px;
    border: none;
    justify-content: center;
}


/* Responsividade 
@media (max-width: 768px) {

}
*/