<!DOCTYPE html>
 <html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Gerador de orçamentos</title>  

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap"
        rel="stylesheet">

    </head>
        <body>
            <div class="pagina">

                <header class = "cabecalho">

                    <form action="gerar_orcamento" method="post" enctype="multipart/form-data">
                        
                        <div class="logo">
                            <label for="logo">Logo da empresa</label>
                            <input type="file" id="logo" name="logo" accept="image/png, image/jpeg, image/webp">
                            <small class="formatos">Formatos aceito: PNG, JPEG, WEBP</small>
                        </div>

                    </form>

                    <div class="dados_empresa">
                        
                        <label for="nome_empresa">Nome da empresa</label>
                        <input type="text" id="nome_empresa" name="nome_empresa" placeholder="Nome da empresa">
                       
                        <label for="cnpj">CNPJ</label>
                        <input type="text" id="cnpj" name="CNPJ" placeholder="Digite o CNPJ">
                    
                    </div>
                    
                    <div class="contato">
                    
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" placeholder="Digite o email">
                        
                        <label for="whatsapp">Whatsapp</label>
                        <input type="text" id="whatsapp" name="whatsapp" placeholder="Digite o número do WhatsApp">
                       
                        <label for="instagram">Instagram</label>
                        <input type="text" id="instagram" name="instagram" placeholder="Digite o Instagram">

                        <label for="website">Website</label>
                        <input type="text" id="website" name="website" placeholder="Digite o Website">
                    
                    </div>

                    <button type="submit" id="gerar-orcamento">Gerar orçamento</button>

                </header>

                <div class="conteudo">
                    
                    <div class="titulo">
                        <h1 class = "title">Orçamento</h1>
                        <p class = "subtitle">Preencha os campos abaixo para gerar o orçamento da sua empresa.</p>
                    </div>

                    <div class="dados_cliente">

                        <div class="campo_cliente">
                            <label for="nome_cliente">Nome do cliente</label>
                            <input type="text" id="nome_cliente" name="nome_cliente" placeholder="Nome do cliente">
                        </div>
                        
                        <div class="quantidade_orc">
                            <label for="quantidade_orc">Quantidade</label>
                            <input type="text" id="quantidade_orc" name="quantidade_orc" placeholder="Quantidade">
                        </div>

                        <div class="data_orc">
                            <label for="data_orc">Data do orçamento</label>
                            <input type="text" id="data_orc" name="data_orc" placeholder="Data do orçamento">
                        </div>
                        
                    </div>

                    <section class="tabela-orc">
                      
                        <table>

                            <thead>

                                <th>Descrição</th>

                                <th>Quantidade</th>

                                <th>Valor Unitário</th>

                                <th>Valor Total</th>

                            </thead>

                            <button type="button" id="adicionar-servico">Adicionar Serviço</button>
                            <button type="button" id="remover-servico">Remover Serviço</button>

                        </table>


                    </section>

                    <section class ="cards-orcamento">

                        <div class="forma-pagamento">

                        </div>

                        <div class="prazo-conclusao">

                        </div>

                        <div class="validade">

                        </div>

                        <div class="observacoes">

                        </div>


                    </section>
                </div>

                <div class="rodape">

                </div>
            </div>

            <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        </body>
</html>